/* title color */
h1 {color: #444446;
  text-align: center;
  margin-top: 4rem;
}

/* nav bar */
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: #373F51;
  position: fixed;
  width:100%;
  top:0;
}

html, body{
  margin:0;
  padding:0;
}

li {
float: left;
}
*{
 font-family: 'Verdana', cursive; 
}

/* nav bar text */

li a{
  display: block;
  color: #999999;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
}

/* nav bar hover*/

li a:hover{
  Background-color: #999999;
  color: #E2E2E2;
}

/*background of whole web */

body{
  background-color: #B8B8B8;
}



