/* title color */
h1 {color: #444446;
  text-align: center;
  margin-top: 4rem;
}

/* nav bar */
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: #70ABAF;
  position: fixed;
  width:100%;
  top:0;
}

html, body{
  margin:0;
  padding:0;
}

li {
float: left;
}
*{
 font-family: 'Verdana', cursive; 
}

/* nav bar text */

li a{
  display: block;
  color: #32292F;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
}

/* nav bar hover*/

li a:hover{
  Background-color: #8CCDC6;
  color: #705D56;
}

/*background of whole web */

body{
  background-color: #AFB4B2;
}



/*paragragh for about me*/

table {
  font-family: Verdana;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}




